* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.2848px;
  font-size: 17.6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 17.6px;
  line-height: 20.24px;
}

h2 {
  color: white;
  font-weight: 700 !important;
}
span {
  color: #ffc62d;
  font-weight: 700 !important;
}
button {
  transition: all 0.3s;
}
a {
  color: black;
  font-weight: 700 !important;
}
a:hover {
  color: #ffc62d;
  cursor: pointer;
}
